/*circle*/
@import "macchiato.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font, Fira Code;
    font-size: 15px;
    font-weight: 600;
}

window#waybar {
    background-color: transparent;
	border-radius: 1.5em;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces {
    border: solid 2px;
    border-color: @lavender;
    border-radius: 90px;
    background-color: @lavender;
    margin: 0;
    color: @text;
}

#workspaces button {
    border: none;
    background-color: @lavender; 
    color: @base;
    margin: 1px;
    border-radius: 90px;
    /*use padding to define button size*/
}

#workspaces button:hover {
    background: @base;
    color: @text;
}

#workspaces button.active {
    background-color: @base;
    color: @text;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

.modules-left {
    border: solid 2px @lavender; 
    border-radius: 90px; 
    background-color: @lavender;
}

#custom-notification,
#tray {
    padding: 5px 13px 5px 13px;
    color: #ffffff;
    background-color: @base; 

    border: none;
    margin: 1px 0 1px 0;
}

#window,
#workspaces {
    margin: 0;
	color: @text;
}

.modules-right {
    border: solid 2px @lavender; 
    border-radius: 90px; 
    background-color: @lavender;
}

#clock,
#pulseaudio,
#backlight,
#network,
#bluetooth,
#battery,
#custom-logout {
    padding: 5px 13px 5px 13px;
    color: @text;
    background-color: @base; 
    
    border: none;
    margin: 1px 0 1px 0;
}

#clock {
    color: @text;
    padding-left: 20px;
    border-radius: 90px;

    margin: 1px;
    margin-right: 2px;
}

#battery {
    color: shade(@maroon, 0.9);
    border-radius: 0 90px 90px 0;
}

#battery.charging, #battery.plugged, #battery.full {
    color: @green;
}

@keyframes blink {
    to {
        color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    color: #000000;
}

#bluetooth {
    color: @blue;
}

#backlight {
    color: @yellow;
}

#network {
    color: @sky;
}

#network.disconnected {
    color: #f53c3c;
}

#pulseaudio {
    color: shade(@lavender, 1.0);
    border-radius: 90px 0 0 90px;
}

#pulseaudio.muted {
    color: shade(@lavender, 1.0);
}

#tray {
    color: @blue;
    padding-right: 20px;
    border-radius: 90px;
    margin-right: 1px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: #eb4d4b;
}

#custom-logout {
    background-color: @peach;
    padding-left: 15px;
    padding-right: 8px;
    border-radius: 90px;
    margin: 1px;
    margin-left: 2px;
    color: @rosewater;
}

#custom-notification {
    background-color: @surface1;
    border-color: @surface1;
    border-radius: 90px;
    margin-left: 1px;
    margin-right: 2px;
}


/*
#idle_inhibitor {
    color: #2d3436;
}

#idle_inhibitor.activated {
    color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    color: #f53c3c;
}

#mpd.stopped {
    color: #90b1b1;
}

#mpd.paused {
    color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	color: transparent;
}

#temperature {
    color: #f0932b;
}

#temperature.critical {
    color: #eb4d4b;
}
#memory {
    color: shade(@green, 0.65);
}

#disk {
    color: #964B00;
}
#cpu {
    color: shade(@mauve, 0.9);
}
#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}
*/
