/*square*/
@import "macchiato.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font, Fira Code;
    font-size: 15px;
    font-weight: 600;
}

window#waybar {
    background-color: @base;
	border-radius: 1.5em;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces button {
    padding: 0px 7px 0px 7px;
    background-color: @base; 
	border-radius: inherit;
    border: solid;
    border-width: 2px 0px 2px 0px;
    border-color: @blue @base @blue @base;
    color: @text;
    margin: 0px 0px 5px 0px;
}

#workspaces button:hover {
    background: @blue;
    color: @base;
	border-radius: inherit;
}

#workspaces button.active {
    background-color: @blue;
    color: @base;
	border-radius: inherit;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#language,
#custom-notification,
#custom-logout,
#clock,
#battery,
#bluetooth,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 5px 13px 5px 13px;
    color: @text;
    background-color: @base; 
    margin: 0;
    border: solid 2px;
    border-color: @base; 
}

#window,
#workspaces {
    margin: 0;
	color: @text;
}

#window {
    margin-left: 10px;
}

/* If workspaces is the leftmost module, omit left margin */
#workspaces > button:first-child {
    margin-left: 2px;
    border-width: 2px 0px 2px 2px;
    border-color: @blue @base @blue @blue;
    border-radius: 20px 0px 0px 20px;
}

/* If workspaces is the rightmost module, omit right margin */
#workspaces > button:last-child {
    margin-right: 0;
    border-width: 2px 2px 2px 0px;
    border-color: @blue @blue @blue @base;
    border-radius: 0px 20px 20px 0px;
}

#workspaces > button:only-child {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
	margin-left: 0;
    padding-right: 5px;
    border-radius: 20px;
}

#workspaces > button:not(:last-child) {
}

#clock {
    color: @text;
	margin-right: 0;
    padding-left: 20px;
    border: solid @base;
    border-width: 2px;
    border-radius: 0 0 0 90px;
    border-color: @base @text @base @base;
}

#battery {
    color: shade(@maroon, 0.9);
}

#battery.charging, #battery.plugged, #battery.full {
    color: @green;
}

@keyframes blink {
    to {
        color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    color: #000000;
}

#cpu {
    color: shade(@sapphire, 1.1);
}

#memory {
    color: shade(@teal, 0.8);
}

#disk {
    color: #964B00;
}

#network {
    color: @sky;
}

#network.disconnected {
    color: #f53c3c;
}

#pulseaudio {
    color: shade(@lavender, 1.0);
    border: solid 2px;
    border-color: @base;
}

#pulseaudio.muted {
    color: shade(@lavender, 1.0);
}

#wireplumber {
    color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    color: #f53c3c;
}

#custom-media {
    color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    color: #66cc99;
}

#custom-media.custom-vlc {
    color: #ffa000;
}

#temperature {
    color: shade(@peach, 1.1);
}

#temperature.critical {
    color: #eb4d4b;
}

#tray {
    color: @blue;
    padding-right: 20px;
    border: solid @base;
    border-width: 2px;
    border-radius: 0 0 90px 0;
    margin-right: 5px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: #eb4d4b;
}

#idle_inhibitor {
    color: #2d3436;
}

#idle_inhibitor.activated {
    color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    color: #f53c3c;
}

#mpd.stopped {
    color: #90b1b1;
}

#mpd.paused {
    color: #51a37a;
}

#language {
    color: @pink;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	color: transparent;
}

#custom-logout {
    background-color: @peach;
    padding-left: 15px;
    padding-right: 8px;
    border-color: @peach;
}

#custom-notification {
    background-color: @surface1;
    padding: 5px 10px 5px 5px;
    border-color: @surface1;
}

#backlight {
    color: @yellow;
}

#bluetooth {
    color: @blue;
}
